<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <style type="text/css">
    html,
    body {
      margin: 10px;
      padding: 0;
      font-weight: 500;
      font-size: 8px;
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
    }

    .header {
      display: flex;
      border-top: 1px solid #dee2e6;
      justify-content: space-around;
      padding-top: 5px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }

    table td,
    table th {
      border: 1px solid #ddd;
      padding: 3px;
    }

    table th {
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: left;
    }

    .thead-heading {
      margin-left: 0%;
      color: white;
      font-weight: 500;
      background-color: #17a2b8;
      border: 1.3px solid black;
    }
  </style>
</head>

<body>
  <div class="header">
    <div>Restaurant: <%= restaurant.name %>
    </div>
    <div>Date: <%= date %>
    </div>
  </div>

  <% for (const statusType in data) { %>
    <table>
      <thead>
        <tr class="thead-heading">
          <th scope="col" colspan="20">
            <%= statusType %> Bookings (<%= data[statusType].length %>)
          </th>
        </tr>
        <tr>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Next Booking</th>
          <th scope="col">Name</th>
          <th scope="col">Pax</th>
          <th scope="col">Children</th>
          <th scope="col">High Chair</th>
          <th scope="col">Level</th>
          <th scope="col">Customer Preference</th>
          <th scope="col">Menu</th>
          <th scope="col">Table</th>
          <th scope="col">Area Preference</th>
          <th scope="col">Staff note</th>
          <th scope="col">Customer Note</th>
          <th scope="col">Butler Prepay</th>
          <th scope="col">Butler Preoder</th>
          <th scope="col">Booking Payments</th>
          <th scope="col">Allergies</th>
          <th scope="col">Diatery Req</th>
          <th scope="col">Occassion</th>
        </tr>
      </thead>

      <% for(var singleData of data[statusType]) { %>
        <tr>
          <td>
            <%= singleData.start_time %>
          </td>
          <td>
            <%= singleData.end_time %>
          </td>
          <td>
            <%= singleData.next_booking %>
          </td>
          <td>
            <%= singleData.name %>
          </td>
          <td>
            <%= singleData.pax %>
          </td>
          <td>
            <%= singleData.children %>
          </td>
          <td>
            <%= singleData.high_chair %>
          </td>
          <td>
            <%= singleData.level %>
          </td>
          <td>
            <%= singleData.customer_preference %>
          </td>
          <td>
            <%= singleData.menu %>
          </td>
          <td>
            <%= singleData.table %>
          </td>
          <td>
            <%= singleData.area_preferences %>
          </td>
          <td>
            <%= singleData.staff_note %>
          </td>
          <td>
            <%= singleData.customer_note %>
          </td>
          <td>
            <%= singleData.butler_prepay %>
          </td>
          <td>
            <%= singleData.butler_pre_order %>
          </td>
          <td>
            <%= singleData.booking_payments %>
          </td>
          <td>
            <%= singleData.allergies %>
          </td>
          <td>
            <%= singleData.diatery_requirement %>
          </td>
          <td>
            <%= singleData.occassion %>
          </td>
        </tr>
        <% } %>
    </table>
    <% } %>

</body>

</html>